@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./css/bootstrap.icon-extra.min.css");

#root {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.hidden{
  display: none;
}
.clear{
  clear: both;
}

table th,td{
  text-align: center;
}

.header{
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width:415px){
  
}

/* Bootstrap Checkbox Styles */
.fancy-checkbox {
    display: none;
}

.fancy-checkbox + .btn-group > label span {
    width: 20px;
}

.fancy-checkbox + .btn-group > label span:first-child {
    display: none;
}
.fancy-checkbox + .btn-group > label span:last-child {
    display: inline-block;   
}

.fancy-checkbox:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.fancy-checkbox:checked + .btn-group > label span:last-child {
    display: none;   
}
/* Bootstrap Checkbox Styles */

.bar {
  opacity: 0.5;
}
.bar:hover {
  opacity: 1;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-size:12px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}